@page
@model AmazonBookStore.Pages.PurchaseSubmittedModel
@{
}


<div class="text-center">
    <h2>Thank you for Shopping with us! You should recieve a confirmation email in the next 24 hours. Have a good day</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>