@page "/admin"

@model AmazonBookStore.Pages.Admin.IndexModel

@{
}


<!DOCTYPE html>

<html>


<head>
    <title>AmazonBookStore</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <p>Testing, testing, 1, 2, 3</p>

</body>



</html>
