@page "/admin"

@model AmazonBookStore.Pages.Admin.IndexModel

@{
}


<!DOCTYPE html>

<html>


<head>
    <title>AmazonBookStore</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(AmazonBookStore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>



</html>
